/* From Uiverse.io by LeCurry24 */ 
.card {
  --bg-card: #27272a;
  --primary: #276028;
  --primary-800: #353538;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #191b18;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);

  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 6rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 180px;
  height: 40px;
  background-image: linear-gradient(rgb(230, 230, 230), rgb(85, 87, 92));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(100, 101, 103);
  transition-duration: .3s;
  margin: 0 auto;
  text-decoration: none;
}

.button:active {
  transform: translate(2px ,0px);
  box-shadow: 0px 1px 0px rgb(100, 101, 103);
  padding-bottom: 1px;
}


