/* Barra general */
.barra-color {
  background: linear-gradient(to right, #63d471, hsl(0, 0%, 0%));
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
}

/* Título DropShop */
.loader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  background: radial-gradient(circle closest-side, #fff4f4 94%, hsla(0, 0%, 4%, 0)) right / calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
  margin: 0; /* evita mover el texto */
}

.loader::before {
  content: "DropShop";
  font-size: 40px;
  color: transparent;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #060606 94%, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Animación del texto */
@keyframes l24 {
  100% {
    background-position: left;
  }
}

/* From Uiverse.io by LeCurry24 */ 
.card {
  --bg-card: #27272a;
  --primary: #276028;
  --primary-800: #353538;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #191b18;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);

  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 6rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

/* From Uiverse.io Botton Ver mas */ 
.button {
  width: 180px;
  height: 40px;
  background-image: linear-gradient(rgb(230, 230, 230), rgb(85, 87, 92));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(100, 101, 103);
  transition-duration: .3s;
  margin: 0 auto;
  text-decoration: none;
}

.button:active {
  transform: translate(2px ,0px);
  box-shadow: 0px 1px 0px rgb(100, 101, 103);
  padding-bottom: 1px;
}

/* From Uiverse.io Iconos redes sociales con tooltip */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #128c7e;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.example-2 .icon-content a[data-social="twitter"] .filled,
.example-2 .icon-content a[data-social="twitter"] ~ .tooltip {
  background-color: #1da1f2;
}
