/* Barra general */
.barra-color {
  background: linear-gradient(to right, #63d471, hsl(0, 0%, 0%));
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
}

/* Título DropShop */
.loader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  background: radial-gradient(circle closest-side, #fff4f4 94%, hsla(0, 0%, 4%, 0)) right / calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
  margin: 0; /* evita mover el texto */
}

.loader::before {
  content: "DropShop";
  font-size: 40px;
  color: transparent;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #060606 94%, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Animación del texto */
@keyframes l24 {
  100% {
    background-position: left;
  }
}














